ipykernel
jupyterlab
pandas
matplotlib
requests
numpy
scipy
geopy
thefuzz
python-Levenshtein
geopandas
shapely
pandas
matplotlib
requests
numpy
scipy
geopy
thefuzz
python-Levenshtein
geopandas
shapely
